<!-- BEGIN dev_bl -->
<div id="devmodeBlock" style="padding: 5px;">
    {MEMORY_USAGE}
    {SESS_INFO}
    <!-- BEGIN call_history -->
    <p><i>Controller History:</i></p>
    <!-- BEGIN c_entry -->
    <div style="font-size: 11px; margin-bottom: 7px;">
        <div>{FILE}</div>
        <div>{MODE} {CMD}</div>
    </div>
    <!-- END c_entry -->
    <!-- END call_history -->
    <!-- BEGIN included_files -->
    <a name="devinclsthd"></a>
    <br /><a href="#devinclsthd" onclick="$('#devinclst').toggle(); return false;"><i>Included Files</i> <span class="caret"></span></a>
    <div id="devinclst" class="xsmall" style="display:none;">
        <!-- BEGIN i_entry -->
        {I_ENTRY}<br />
        <!-- END i_entry -->

    </div>
    <!-- END included_files -->
    <!-- BEGIN xhtml_validation -->
    <table class="fullwidth_invisible"><tr><td class="ilInvisibleBorder">
                {VALIDATION}
            </td></tr></table>
    <!-- END xhtml_validation -->
</div>
<!-- END dev_bl -->
